.headName
{
    color: rgb(255, 255, 255);
    background-color:#2980B9;
    padding:10px;
    border-radius: 10px;
}


.flat-table {
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
    border-collapse:collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
            border-radius: 3px;
           -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
}
.flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
        inset 0 1px rgba(248, 242, 242, 0.25);
}
.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color:rgb(222, 246, 7);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.6em;
}
.flat-table td {
    color: #f7f7f7;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.4em;
}
.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.flat-table-1 {
    background: #336ca6;
}
.flat-table-1 tr:hover {
    background: rgba(0,0,0,0.19);
}
.flat-table-2 tr:hover {
    background: rgba(0,0,0,0.1);
}
.flat-table-2 {
    background: #f06060;
}
.flat-table-3 {
    background: #52be7f;
}
.flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
}



.popup-input {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

